<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portal De Notícias Agetran</title>
    <!-- Font Awesome -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

    <!-- bootstrap - link cdn -->
      <link rel='stylesheet' href='https://cdn.rawgit.com/arafkarim/BootstrapPlusPlus/a32c1a63/dist/dark/css/bootstrap.min.css'>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <!-- JQuery -->
      <script src="js/jquery-3.3.1.js"></script>

    <!-- incluindo css -->
      <link href="css/style.css" rel="stylesheet">

    <!-- favicon -->
      <link rel="shortcut icon" href="images/agetran-logo.png" />
  </head>
  <body>
    <!-- Barra Google Translate -->
    <div id="barra-identidade">
      <div id="barra-brasil">
        <div id="wrapper-barra-brasil">
          <div class="brasil-flag">
            <a href="https://gov.br" class="link-barra">Brasil</a>
          </div>
            <span id="traduction">
              <div id="google_translate_element" class="boxTradutor"></div>
                <div class="translate-images">
                  <a href="javascript:trocarIdioma('pt')"><img alt="portugues" src="images/upload_images/pt-br.png"></a>
                  <a href="javascript:trocarIdioma('es')"><img alt="espanhol" src="images/upload_images/es.png"></a>
                  <a href="javascript:trocarIdioma('en')"><img alt="ingles" src="images/upload_images/en.png"></a>
                  <a href="javascript:trocarIdioma('it')"><img alt="italiano" src="images/upload_images/it.png"></a>
                  <a href="javascript:trocarIdioma('fr')"><img alt="italiano" src="images/upload_images/fr.png"></a>
                </div>
            </span>
        </div>
      </div>
    </div>
    <!-- Fim Barra Google Translate -->

    <!-- Cabeçalho -->
    <header>
      <nav class="navbar navbar-expand-lg" aria-label="Offcanvas navbar large">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="images/agetran-logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
            <span class="navbar-toggler-icon navbar-dark"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Agetran</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <hr class="featurette-divider-navbar">
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/" style="color: #FFF; font-size: 1.1rem; font-weight: 500;">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #FFF; font-size: 1.1rem; font-weight: 500;">
                    Serviços
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Passe Estudante <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1">Rodoviária <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2">Estacionamento <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex mt-3 mt-lg-0" role="search">
                <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search" style="width:200px; height: 38px;">
                <span class="btn-sm my-2 my-sm-8" style="font-size: 1rem;" type="submit"><i class="fas fa-search"></i></span>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- Fim Cabeçalho -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-white" id="exampleModalLabel">Passe Estudante</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img class="mx-auto d-block" src="images/upload_images/passe.jpg" style="width:100%; max-width:400px">
            <p style="padding: 20px 60px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-close-sty" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-white" id="exampleModalLabel">Rodoviária</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img class="mx-auto d-block" src="images/upload_images/rodoviaria.jpg" style="width:100%; max-width:400px">
            <p style="padding: 20px 60px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-close-sty" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-white" id="exampleModalLabel">Estacionamento</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img class="mx-auto d-block" src="images/upload_images/estacionamento.jpg" style="width:100%; max-width:400px">
            <p style="padding: 20px 60px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-close-sty" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Fim Modal -->

    <section id="portfolio" class="container-fluid" style="margin-top: 60px;">
        <div class="row section-banner justify-content-center">
            <div class="col-md-offset-3 col-md-6">
                <div>
                    <span class="line portfolio"></span>
                    <span class="section-title portfolio">A Agetran</span>
                    <span class="line portfolio"></span>
                </div>
            </div>
        </div>
    </section>
    <main id="main-doc">
        <section class="main-section" id="Introduction">
            <h2 class="featurette-heading fw-normal lh-1">Sobre</h2>
            <article>
                <p>Competências atribuídas pelas Leis 3.478/2011 e 3.786/14, a Agetran – Agência Municipal de Transporte e Trânsito de Dourados-MS, responde pelo planejamento, organização, fiscalização, controle e promoção do desenvolvimento da circulação urbana, da qualidade do trânsito e dos transportes, bem como pela administração dos terminais rodoviário, ferroviário, transbordo, estacionamento pago, aeroporto, sinalização horizontal e vertical, direta ou indiretamente mediante concessão.</p>
            </article>
        </section>
    </main>

    <div class="container marketing-sobre">
      <hr class="featurette-divider-sobre">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1 text-ges">Gestão</h2>
          <span class="text-dir text-muted">Mariana de Souza Neto</span>
          <p class="lead-dir lead">Diretora Presidente da AGETRAN.</p>
        </div>
        <div class="col-md-5">
          <img width="400" height="400" class="bd-placeholder-img bd-placeholder-img-lg featurette-image mx-auto img-dir" src="images/upload_images/mariana.png" alt="Imagem Mariana">
        </div>
      </div>
  </div>

  <!-- Footer -->
    <footer style="margin-top: 80px;">
      <div class="footer-wrap">
        <div class="container first_class">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <h3>Fale Conosco</h3>
              <p>Rua Coronel Ponciano, 1700 <br> (67) 3411-7626</p>
              <a href="#email" class="contact">Ou entre em contato conosco enviando um e-mail <i class="fa fa-external-link" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-4 col-sm-6">
              <form class="newsletter">
                <input id="email" type="text" placeholder="E-mail"> 
                <a class="newsletter_submit_btn" href="#" target="_blank"><i class="fa fa-paper-plane"></i></a>
              </form>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="col-md-12">
                <div class="standard_social_links">
                    <div>
                      <li class="round-btn btn-facebook"><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                      <li class="round-btn btn-linkedin"><a href="#" target="_blank"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                      <li class="round-btn btn-twitter"><a href="#" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                      <li class="round-btn btn-instagram"><a href="#" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                      <li class="round-btn btn-whatsapp"><a href="#" target="_blank"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                      <li class="round-btn btn-user"><a href="index"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                    </div>
                  </div>   
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container-fluid">
            <div class="copyright">© 2022 Agetran. Todos os Direitos Reservados.</div>
          </div>
        </div>
      </div>   
    </footer>
    <!-- Fim Footer -->

    <!-- Acessibilidade -->
    <div vw class="enabled">
      <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <!-- Fim Acessibilidade -->

    <!-- Scripts -->
      <!-- Script Bootstrap -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

      <!-- Script VLibras -->
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
        <script>
          new window.VLibras.Widget('https://vlibras.gov.br/app');
        </script>

      <!-- Scripts de Funções -->
      <script type="text/javascript">
        let mybutton = document.getElementById("myBtn");
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
          if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }

        function topFunction() {
          document.documentElement.scrollTop = 0;
        }

        var comboGoogleTradutor = null; //Varialvel global

        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'pt',
                includedLanguages: 'pt,en,es,it,fr',
                layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
            }, 'google_translate_element');

            comboGoogleTradutor = document.getElementById("google_translate_element").querySelector(".goog-te-combo");
        }

        function changeEvent(el) {
            if (el.fireEvent) {
                el.fireEvent('onchange');
            } else {
                var evObj = document.createEvent("HTMLEvents");

                evObj.initEvent("change", false, true);
                el.dispatchEvent(evObj);
            }
        }

        function trocarIdioma(sigla) {
            if (comboGoogleTradutor) {
                comboGoogleTradutor.value = sigla;
                changeEvent(comboGoogleTradutor);//Dispara a troca
            }
        }
      </script>

      <!-- Script Google Translate -->
      <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </body>
</html>